repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args: ["--fix", "--exit-non-zero-on-fix"]
      - id: ruff-format
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args:
          - --ignore-missing-imports
          - --disable-error-code=import-untyped
          - --disable-error-code=attr-defined
          - --disable-error-code=assignment